@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --clr-White: hsl(0, 0%, 100%);
    --clr-Lightgrayishviolet: hsl(270, 3%, 87%);
    --clr-Darkgrayishviolet: hsl(279, 6%, 55%);
    --clr-Verydarkviolet: hsl(278, 68%, 11%);
    --clr-ActiveinputBorder:hsl(278, 94%, 30%);
    --clr-inputerror:hsl(0, 100%, 66%);
    --clr-linear:hsl(249, 99%, 64%);

    --fs-input:18px;
    
    --fw-500:500;
}
*{  
    margin:0px;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    background-image: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: space-evenly;
}
.cards{
    width:30rem;
    height: 68vh;
    position: relative;
    margin-top: 5em;
    margin-left: -2em;
}
.cards .front{
    color: var(--clr-White);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.cards .front .cardLogo{
    position: absolute;
    top:2em;
    left:2em
}
.cards .front .cardNum{
    font-weight: var(--fw-500);
    letter-spacing: 1.5px;
    position: absolute;
    top:5.5em;
    left:1.3em;
}
.cards .front .cardName{
    position: absolute;
    font-weight: var(--fw-500);
    font-size: 13px;
    top:14em;
    left:2.3em;
    text-transform: uppercase;
}
.cards .front .cardExp{
    position: absolute;
    font-weight: var(--fw-500);
    font-size: 13px;
    top:14em;
    left:25em;
    letter-spacing: 1.5px;
}
.cards .back{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: var(--clr-White);
    z-index: -1;
}
.cards .back .Cvv{
    position: absolute;
    top:7.1em;
    right:50px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: var(--fw-500);
}
.details{
    display: flex;
    flex-direction: column;
    width:27%;
    gap: 30px;
    margin-top: 3rem;
}
.details .holdername,.number{
    display: flex;
    flex-direction: column;
}
.details label{
    font-size: 13px;
    margin-bottom: 5px;
}
.details .holdername input,.number input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--clr-Lightgrayishviolet);
}
.details input{
    cursor: pointer;
}
.details .number .Number.error:focus{
    border: 2px solid var(--clr-inputerror);
}
.details .myc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.details .myc input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--clr-Lightgrayishviolet);
    outline: none;
}
.details .myc .my{
    display: flex;
    flex-direction: column;
}
.details .myc .my div{
    display: flex;
    gap: 7px;
}
.details .myc .my div input{
    width:5vw;
    outline: none;
}
.details .myc .my.error div input:focus{
    outline : none;
    border : 2px solid var(--clr-inputerror);
}
.details .myc .c label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.details .myc .c.error input:focus{
    outline : none;
    border : 2px solid var(--clr-inputerror);   
}
.details .confirm button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-Verydarkviolet);
    color: var(--clr-White);
    cursor: pointer;
}
.details input:focus{
    outline: none;
    border: 2px solid var(--clr-ActiveinputBorder);
}
.details p{
    font-size: 10px;
    margin-top: 10px;
    color: var(--clr-inputerror);
    position: absolute;
}
.details .number p{
    display: none;
    top: 20.5rem;
}
.details .number .format.error{
    display: block;
}
.details .myc .my .exp.empty{
    display: block;
}
.details .myc .cvv.empty{
    display: block;
} 
.exp{
    display: none;
    top: 26.2rem;
}
.cvv{
    display: none;
    top:26.2rem;
    right:21.7rem;
}
.succ{
    display: none;
}
.success{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.success h1{
    letter-spacing: 1.5px;
}
.success h5{
    font-size: 15px;
    font-weight: var(--fw-500);
    color: var(--clr-Darkgrayishviolet);
    margin-bottom: 2rem;
}
.success button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--clr-Verydarkviolet);
    color: var(--clr-White);
}
.details.active{
    display: none;
}
.succ.active{
    display: block;
    width: 27%;
}
@media (max-width : 720px){
    body{
        background-image: url('./images/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: column;
    }
    .cards{
        height: 22rem;
        margin-top: 8rem;
        transform: scale(1.2);
    }
    .cards .front{
        z-index: 1;
        top: auto;
        bottom: 0px;
    }
    .cards .back{
        top: 0px;
    }
    .details{
        width: 85%;
        margin-block: 5rem;
    }
    .details .myc .my div input{
        width: 100%;
    }
    .details .myc .c input{
        width: 92%;
    }
    .details .number .format.error{
        top:44.5rem;
    }
    .details .myc .my .exp.empty{
        top:50.5rem
    }
    .details .myc .cvv.empty{
        top: 50.5rem;
        right:16rem
    }
    .succ.active{
        width: 85%;
    }
    .success{
        margin-block: 5rem;
        width: 100%;
    }
}